[submodule "https:/github.com/DeigelaLima/Test_smells_TCCI_e_TCCII/tree/main/Exercicios_Tutor_de_Ensino/Eager_Test/Antes_do_JNose"]
	path = https:/github.com/DeigelaLima/Test_smells_TCCI_e_TCCII/tree/main/Exercicios_Tutor_de_Ensino/Eager_Test/Antes_do_JNose
	url = https://github.com/DeigelaLima/Test_smells_TCCI_e_TCCII
